<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>NBA Legends Store</title>
  </head>
  <body class="bg-warning text-dark">
    <div class="container">
        <nav class="bg-dark text-white navbar nav-pills nav-fill">
          <img class="float-left" width="30" height="30" src="https://cdn2.iconfinder.com/data/icons/activity-5/50/1F3C0-basketball-512.png" alt="basketball">
          <a class="text-white nav-item nav-link" href="/players">Home</a>
          <a class="text-white nav-item nav-link" href="/players/faves">Favorites</a>
          <a class="text-white nav-item nav-link" href="/players/new">Buy</a>
          <a class="text-white nav-item nav-link" href="#">About</a>
        </nav>
