<%- include('./partials/header.ejs') %>
<br>
  <div class="container">
    <div class="row justify-content-around">
      <h1>Home Page</h1>
    </div>
    <h3><a href="/login">Log In Here</a></h3>
  </div>


<%- include('./partials/footer.ejs') %>
